* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  background:#eee;
}
body {
  background:#eee;
  padding-bottom:21px; 
}
a {
  width:100%;
  display:block;
  text-decoration:none !important;
  transition:0.2s ease;
}
.link:hover {
  background:blue;
  color:#eee;
}
.versteckt .link {
  background:#FFFACD;
  color:black;
}
.versteckt .link:hover {
  background:#FFA500;
}
.inhalt {
  position:relative;
}
.inhalt:visited {
  background:yellow;
}
.inhalt a {
  padding:5px 4%;
  background:gold;
  color:black;
}
.inhalt a:hover {
  background:#606060;
  color:gold;
}
.inhalt a,
.inhalt .keine_links {
  border-top:2px solid #eee;
}
.keine_links {
  padding:5px 4%;
  background:orange;
  color:black;
  width:100%;
  display:block;
  text-decoration:none !important;
  border-top:2px solid blue;
  transition:0.2s ease;
}
h1 {
  text-align:center;
  padding:10px 20px;
  font-size:3rem;
  margin:0 !important;
  cursor:default;
}
.collapse:not(.show) {
  display:block;
  height:0;
  overflow:hidden;
}
.link_container {
  border-top:2px solid blue;
  opacity:0;
  animation:einblenden 0.5s normal forwards;
  width:100%;
  display:flex;
  flex-flow:wrap;
}
.link_container a {
  height:50px;
  box-sizing:border-box;
  padding:5px 30px;
  padding:5px 0;
  text-align:center;
  font-size:1.5rem;
  box-sizing:border-box;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}
.link {
  flex:1;
  white-space:nowrap;
  text-align:left !important;
  padding-left:2% !important;
  background:lavender;
  color:black;
}
.dtube {
  width:115px;
  background-color:white;
  background-image: url(../logo/dtube.svg);
  color:transparent;
}
.dtube:hover {
  background-color:black;
  background-image: url(../logo/dtube-hover.svg);
  color:transparent;
}
.youtube {
  width:160px;
  background:red;
  color:white;
  font-weight:bold;
}
.youtube:hover {
  background:#eee;
  color:red;
}
.dailymotion {
  width:200px;
  font-weight:bold;
  background:white;
  color:#00d2f3;
}
.dailymotion:hover {
  background:#00d2f3;
  color:white;
}
.bitchute {
  width:160px;
  background:#ddd;
  color:red;
}
.fehler {
  animation:einblenden 10s normal forwards 1s;
  margin:50px auto !important;
  border-radius:50px;
  text-align:center;
  max-width:1200px;
  font-weight:bold;
  background:red;
  font-size:3rem;
  padding:20px;
  color:white;
  opacity:0;
}
.fehler404 {
  background:red;
  color:white;
  padding:10px 60px;
  font-size:2rem;
  font-weight:bold;
}
.bild_sofort_laden {
  width:0;
}
#erklärung {
  margin:0 auto;
  display:block;
  max-height:30cm;
}
.kaitag-am-freitag {
    background: lightblue;
}
@keyframes einblenden {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@media (max-width:400px) {
  h1 {
    font-size:12vw;
  }
}
