* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  background:#eee;
}
span {
    background:transparent;
}
body {
  background:#eee;
  padding-bottom:21px; 
}
a {
  width:100%;
  display:block;
  text-decoration:none !important;
  transition:0.2s ease;
}
#ganz_oben {
  width:100%;
  display:flex;
  justify-content:space-between;
}
#ganz_oben > * {
  height:100px;
}
#ganz_oben > a {
  color:black;
  background:white;
  width:auto;
  padding:36px 10px;
  width:300px;
}
#ganz_oben h1 {
  width:calc(100vw - 600px);
}
#ganz_oben a:hover {
  background:blue;
  color:white;
}
#ganz_oben a:first-child {
  border-right:2px solid blue;
}
#ganz_oben a:last-child {
  border-left:2px solid blue;
  text-align:right;
}
.link:hover {
  background-color:blue;
  color:#eee !important;
}
.versteckt .link {
  background:#FFFACD;
  color:black;
}
.versteckt .link:hover {
  background:#FFA500;
}
.inhalt {
  position:relative;
}
.inhalt:visited {
  background:yellow;
}
.inhalt a {
  padding:5px 4%;
  background:gold;
  color:black;
}
.inhalt a:hover {
  background:#606060;
  color:gold;
}
.inhalt a,
.inhalt .keine_links {
  border-top:2px solid #eee;
}
.inhalt a:empty::after {
    content: attr(href);
}
.keine_links {
  padding:5px 4%;
  background:orange;
  color:black;
  width:100%;
  display:block;
  text-decoration:none !important;
  border-top:2px solid blue;
  transition:0.2s ease;
}
h1 {
  text-align:center;
  padding:20px;
  font-size:3rem;
  margin:0 !important;
  cursor:default;
}
.collapse:not(.show) {
  display:block;
  height:0;
  overflow:hidden;
}
.link_container {
  border-top:2px solid blue;
  opacity:0;
  animation:einblenden 0.5s normal forwards;
  width:100%;
  height:50px;
  background:blue;
  display:flex;
  justify-content:space-between;
}
.link_container a {
  height:100%;
  box-sizing:border-box;
  padding:5px 30px;
  padding:5px 0;
  text-align:center;
  font-size:1.5rem;
  box-sizing:border-box;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}
#link-kaitag-verteiler .telegram {
  color:black;
}
#link-kaitag-verteiler .ohne {
  background:lavender;
  color:black;
}
.link_container .bitchute {
  min-width:150px;
}
.link {
  flex:1;
  /*white-space:nowrap;*/
  text-align:left !important;
  padding-left:2% !important;
  background:lavender;
  color:black;
  word-break:break-all;
}
.podcast,
.direkt {
  /*
  width:150px;
  */
  background:#ddd;
  color:blue;
  flex:0;
  padding-left:10px !important;
  padding-right:10px !important;
}
.podcast:hover,
.direkt:hover {
  background:blue;
  color:white;
}
.podcast-gesperrt .podcast,
.direkt-gesperrt .direkt {
  display:none;
}
.podcast {
  border-left:1px solid blue;
}
.dtube {
  width:115px;
  background-color:white;
  background-image: url(../logo/dtube.svg);
  color:transparent;
}
.dtube:hover {
  background-color:black !important;
  background-image: url(../logo/dtube-hover.svg) !important;
  color:transparent !important;
}
.donnersender {
  width:180px;
  background:linear-gradient(#888, #444);
  color:white;
  font-weight:bold;
}
.donnersender:hover {
  background-color:#eee !important;
  color:red !important;
}
.youtube {
  width:160px;
  background:red;
  color:white;
  font-weight:bold;
}
.youtube:hover {
  background-color:#eee !important;
  color:red !important;
}
.dailymotion {
  width:200px;
  font-weight:bold;
  background:white;
  color:#00d2f3;
}
.dailymotion:hover {
  background-color:#00d2f3 !important;
  color:white !important !important;
}
.bitchute {
  width:160px;
  background:#ccc;
  background-image: url(../logo/bitchute.png);
  background-size:90% !important;
  color:transparent;
}
.bitchute:hover {
  background-color:#eee !important;
  color:transparent !important;
}
.frei3 {
  width:160px;
  background:#377bbb;
  background-image: url(../logo/frei3.png);
  background-size:90% !important;
  color:transparent;
}
.frei3:hover {
  background-color:#777 !important;
  color:transparent !important;
}
.bittube {
  width:160px;
  background-color:#080808;
  background-image: url(../logo/bittube.jpg);
  color:transparent;
}
.bittube:hover {
  background-color:white !important;
  background-image: url(../logo/bittube-hover.jpg) !important;
  color:transparent !important;
}
#link-kaitag-verteiler {
  border-bottom:10px solid blue;
  box-sizing:content-box;
}
#link-kaitag-verteiler a {
  padding-left:10px !important;
  padding-right:10px;
  width:calc(100vw / 9);
}
#link-kaitag-verteiler a span {
  margin:0 auto;
  display:block;
  text-align:center;
}
#link-kaitag-verteiler a,
.versicherung,
.telegram {
    border-left: 2px solid blue;
}
#link-kaitag-verteiler a:first-child {
    border-left:none;
}
#link-kaitag-verteiler a:first-child span {
    margin:0;
}
#link-kaitag-verteiler a.telegram {
    padding-left:45px !important;
}
#link-kaitag-verteiler a:first-child {
    padding-left:2% !important;
}
#link-kaitag-verteiler .frei3,
#link-kaitag-verteiler .bitchute {
  background-size:contain !important;
}
.telegram {
    background-color:#00BFFF;
    background-image:url(../logo/telegram.svg);
    background-size:40px 40px !important;
    background-position:5px center !important;
    padding-left: 50px !important;
}
.telegram:hover {
    background-color:#1E90FF;
    background-image:url(../logo/telegram.svg);
    background-repeat:no-repeat;
}
.donnersender-gesperrt .donnersender,
.youtube-gesperrt .youtube,
.bittube-gesperrt .bittube,
.bitchute-gesperrt .bitchute,
.dailymotion-gesperrt .dailymotion,
.podcast-gesperrt .podcast,
.direkt-gesperrt .direkt,
.dtube-gesperrt .dtube {
  position:relative;
  overflow:hidden;
}
.donnersender-gesperrt .donnersender:before,
.youtube-gesperrt .youtube:before,
.bittube-gesperrt .bittube:before,
.bitchute-gesperrt .bitchute:before,
.dailymotion-gesperrt .dailymotion:before,
.podcast-gesperrt .podcast:before,
.direkt-gesperrt .direkt:before,
.dtube-gesperrt .dtube:before {
  content: "gesperrt";
  background:rgba(255, 255, 255, 0.7);
  color:red;
  position:absolute;
  top:-50px;
  left:-45%;
  width:200%;
  height:300px;
  transform:rotateZ(-10deg);
  padding-top:50px;
  transition:0.2s ease;
}
.donnersender-gesperrt .donnersender:hover:before,
.youtube-gesperrt .youtube:hover:before,
.bittube-gesperrt .bittube:hover:before,
.bitchute-gesperrt .bitchute:hover:before,
.dailymotion-gesperrt .dailymotion:hover:before,
.podcast-gesperrt .podcast:hover:before,
.direkt-gesperrt .direkt:hover:before,
.dtube-gesperrt .dtube:hover:before {
  transform: rotateZ(-10deg) scale(1.2) translate(2px, 14px);
}
.fehler {
  animation:einblenden 10s normal forwards 1s;
  margin:50px auto !important;
  border-radius:50px;
  text-align:center;
  max-width:1200px;
  font-weight:bold;
  background:red;
  font-size:3rem;
  padding:20px;
  color:white;
  opacity:0;
}
.fehler404 {
  background:red;
  color:white;
  padding:10px 60px;
  font-size:2rem;
  font-weight:bold;
}
.bild_sofort_laden {
  width:0;
}
#unabhängigkeitsversicherung,
#erklärung {
  margin:0 auto;
  display:block;
  max-height:30cm;
}
.kaitag-am-freitag {
    background: lightblue;
}
.halb {
    width:50%;
}
.drittel {
    width:33.3%;
}
/*
#link-kaitag-verteiler a {
  line-height:unset;
}
*/
@keyframes einblenden {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.notransition {
  transition:none !important;
}
@media (max-width:900px) {
  .link {
    min-width:100%;
  }
  .link_container {
    flex-flow:wrap;
    height:auto;
  }
  #link-kaitag-verteiler a {
    min-width:200px;
    height:50px;
  }
}
@media (max-width:400px) {
  h1 {
    font-size:12vw;
  }
}
