* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  background:#eee;
}
body {
  background:#eee;
  padding-bottom:21px; 
}
a {
  width:100%;
  display:block;
  text-decoration:none !important;
  border-top:2px solid blue;
  transition:0.2s ease;
}
.inhalt a {
  border-top:2px solid #eee;
}
.link {
  padding:5px 2%;
  background:lightblue;
  color:black;
  font-size:1.5rem;
}
.link:hover {
  background:blue;
  color:#eee;
}
.inhalt {
  position:relative;
}
.inhalt:visited {
  background:yellow;
}
.inhalt a {
  padding:5px 4%;
  background:gold;
  color:black;
}
.inhalt a:hover {
  background:#606060;
  color:gold;
}
h1 {
  text-align:center;
  padding:10px 20px;
  font-size:3rem;
  margin:0 !important;
  cursor:default;
}
.fehler404 {
  color:white;
  background:#990000;
  font-size:30px;
  width:100%;
  text-align:center;
  padding:10px;
}
.versteckt,
.versteckt + .inhalt {
  display:none; 
}
.collapse:not(.show) {
  display:block;
  height:0;
  overflow:hidden;
}
.dailymotion,
.youtube {
  position:absolute;
  padding:5px 30px;
  font-size:1.5rem;
  z-index:10;
  margin-top:-48px;
  box-sizing:border-box;
}
.youtube {
  right:0;
  width:160px;
  background:red;
  color:white;
}
.youtube:hover {
  background:#eee;
  color:red;
}
.dailymotion {
  right:160px;
  width:200px;
  font-weight:bold;
  background:white;
  color:#00d2f3;
}
.dailymotion:hover {
  background:#00d2f3;
  color:white;
}
.fehler {
  opacity:0;
  animation:fehler 5s normal forwards 5s;
}
@keyframes fehler {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@media (max-width:750px) {
  .dailymotion,
  .youtube {
    margin-top:unset;
    position:unset;
    width:100%;
  }
}
@media (max-width:400px) {
  h1 {
    font-size:12vw;
  }
  .link,
  .dailymotion,
  .youtube {
    font-size:6vw;
  }
}
