* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  background:#eee;
}
body {
  background:#eee;
  padding-bottom:21px; 
}
a {
  width:100%;
  display:block;
  text-decoration:none !important;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
  transition:0.2s ease;
}
.link {
  padding:5px 2%;
  background:lightblue;
  color:black;
  font-size:1.5rem;
}
.link:hover {
  background:blue;
  color:#eee;
}
.inhalt:visited {
  background:yellow;
}
.inhalt a {
  padding:5px 4%;
  background:gold;
  color:black;
}
.inhalt a:hover {
  background:#606060;
  color:gold;
}
h1 {
  text-align:center;
  padding:20px;
  font-size:3rem;
  margin:0 !important;
  cursor:default;
}
.fehler404 {
  color:white;
  background:#990000;
  font-size:30px;
  width:100%;
  text-align:center;
  padding:10px;
}
.versteckt,
.versteckt + .inhalt {
  display:none; 
}
.collapse:not(.show) {
  display:block;
  height:0;
  overflow:hidden;
}
@media (max-width:400px) {
  h1 {
    font-size:12vw;
  }
  .link {
    font-size:6vw;
  }
}
