* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  background:#eee;
}
a {
  width:100%;
  display:block;
  text-decoration:none;
}
.collapse a {
  padding:5px 20px;
  background:#fbba00;
  color:black;
  border-bottom:1px dotted white;
}
.collapse a:hover {
  background:black;
  color:#fbba00;
}
.link {
  padding:5px 20px;
  background:lightblue;
  color:black;
}
.link:hover {
  background:blue;
  color:white;
}
h1 {
  text-align:center;
  padding:20px;
}
