* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  background:#eee;
}
body {
  background:#eee;
  padding-bottom:20px; 
}
a {
  width:100%;
  display:block;
  text-decoration:none !important;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
  transition:0.2s ease;
}
.link {
  padding:5px 20px;
  background:lightblue;
  color:black;
}
.link:hover {
  background:blue;
  color:#eee;
}
.inhalt {
  display:none;
}
.inhalt:target {
  display:block;
}
.inhalt a {
  padding:5px 30px;
  background:#fbba00;
  color:black;
}
.inhalt a:hover {
  background:#606060;
  color:#fbba00;
}
h1 {
  text-align:center;
  padding:20px;
  font-size:3rem;
  margin:0 !important;
}
